.fondoNav {
    background-color: #00b4d8;
}

.colorFondo {
    background-color: #90e0ef;
    border: none;
    color: white;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-toggler {
    border: none;
}

.example-full-width {
    width: 100%;
}

.mat-form-field {
    margin-right: 10px;
}
.redondo{
    border-radius: 50%;
}