

<nav class="navbar fondoNav">
  <div class="container-fluid">
  
 
    <mat-form-field class="w-25 rounded-3" >
      <mat-label>Combustibles</mat-label>
      <select class="text-center" matNativeControl required>
        <option value="biodiesel">Biodiesel</option>
        <option value="Bioetanol">Bioetanol</option>
        <option value="Gas Natural Comprimido">Gas Natural Comprimido</option>
        <option value="Gas Natural Licuado">Gas Natural Licuado</option>
        <option value="Gases licuados del petróleo<">Gases licuados del petróleo<</option>
        <option value="gasoleoA">Gasoleo A</option>
        <option value="gasoleoB">Gasoleo B</option>
        <option value="Gasoleo Premium">Gasoleo Premium</option>
        <option value="95 E10">Gasolina 95 E10</option>
        <option value="95">Gasolina 95 E5</option>
        <option value="Gasolina 98 E10">Gasolina 98 E10</option>
        <option value="98">Gasolina 98 E5</option>
        <option value="hidrogeno">Hidrogeno</option>
      </select>
      
    </mat-form-field>

  
    <!--
    
    
    
    
   
      <div class="row">
      <div class="col-12">
        <mat-slider [min]="0" [max]="10">
          <input matSliderStartThumb [(ngModel)] = precioMinimo>
          <input matSliderEndThumb [(ngModel)] = precioMaximo>
        </mat-slider>
      </div>
      <div class="col-12 row">
        <p class="col ms-1">{{precioMinimo}}€</p>
        <p class="col">{{precioMaximo}}€</p>
      </div>
    </div>  
    -->
  
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="rounded-3 botonNav text-dark border-0">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="search"
        ></mat-icon>
      </button>
    </form>
  </div>
</nav>

<div class="row mt-4 ">
  @for(gasolinera of listadoGasolineras; track
listadoGasolineras.indexOf(gasolinera)) {

<div class="col">
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ gasolinera.nombre }}</h5>
      <p class="card-text">{{gasolinera.price95}}</p>
      <p class="card-text">{{gasolinera.priceGasoleoA}}</p>
      <p class="card-text">{{gasolinera.priceBiodiesel}}</p>
      <p class="card-text">{{gasolinera.priceGasolina98}}</p>
      <p class="card-text">{{gasolinera.priceHidrogeno}}</p>
      <p class="card-text">{{gasolinera.priceGasoleoB}}</p>
    </div>
  </div>
</div>

}
</div>






